In [3]:
import pandas as pd
import numpy as np

hh = pd.read_excel('datasets_originales/homicidios.xlsx', sheet_name='HECHOS')
hv = pd.read_excel('datasets_originales/homicidios.xlsx', sheet_name='VICTIMAS')
lh = pd.read_excel('datasets_originales/lesiones.xlsx', sheet_name='HECHOS')
lv = pd.read_excel('datasets_originales/lesiones.xlsx', sheet_name='VICTIMAS')

### Transformación

##### Homicidios-Hechos

In [48]:
hh.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4.0,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1.0,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7.0,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0.0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5.0,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

    **NOTA**: *parece ser que muchos de los registros en los que 'Altura' == NaN corresponden a hechos que transcurrieron en esquinas, es decir, que en 'LUGAR_DEL_HECHO' figuran los nombres de 2 calles.*

En primer lugar, vemos que hay columnas que son redundantes como por ejemplo:
- FECHA: ya se describe la fecha de los hechos a traves de las columnas 'AAAA', 'MM' y 'HH'. No es necesaria la columna 'FECHA'

In [63]:
hh['Dirección Normalizada']

0      PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...
1                   PAZ, GRAL. AV. y DE LOS CORRALES AV.
2                                    ENTRE RIOS AV. 2034
3              LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.
4                SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.
                             ...
691                                    RIESTRA AV. y MOM
692           DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.
693                                  GAONA AV. y TERRADA
694                                  PERON, EVA AV. 4071
695                              PADRE CARLOS MUGICA 709
Name: Dirección Normalizada, Length: 696, dtype: object

In [47]:
hh.columns

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO'],
      dtype='object')

- 'ID' está con el formato correcto --> En MySQL se definira con el tipo de dato VARCHAR
- 'N_VICTIMAS' está con el formato correcto --> En MySQL se definira con el tipo de dato INTEGER
- 'FECHA' está con el formato correcto --> En MySQL se definirá con el tipo de dato DATE
- 'AAAA' está con el formato correcto --> En MySQL se definirá con el tipo de dato INTEGER
- 'MM' está con el formato correcto --> En MySQL se definirá con el tipo de dato INTEGER
- 'DD' está con el formato correcto --> En MySQL se definirá con el tipo de dato INTEGER
- 'HORA' tiene una celda sin dato, se reemplazará 'SD' por 'NaN' --> En MySQL se definirá con el tipo de dato TIME??
- 'HH' tiene una celda sin dato, se reemplazará 'SD' por 'NaN' --> En MySQL se definirá con el tipo de dato FLOAT (float acepta valores NULL)
- 'LUGAR_DEL_HECHO'
- 'TIPO_DE_CALLE'
- 'Calle'
- 'Altura'
- 'Cruce'
- 'Dirección Normalizada'
- 'COMUNA'
- 'XY (CABA)

In [35]:
# modificaciones:
hh['HORA'].replace('SD',np.nan,inplace=True)
hh['HH'].replace('SD',np.nan,inplace=True)

In [8]:
hh.to_csv('hh.csv', encoding='utf8', index=False, quotechar='"')
hv.to_csv('hv.csv', encoding='utf8', index=False, quotechar='"')
lh.to_csv('lh.csv', encoding='utf8', index=False, quotechar='"')
lv.to_csv('lv.csv', encoding='utf8', index=False, quotechar='"')

Me tira un error al querer actualizar el repo:

PS C:\Users\Martin\Desktop\Mis Proyectos\Siniestros_Viales> git push origin master
To https://github.com/jmartindiaz/Siniestros_Viales.git
 ! [rejected]        master -> master (fetch first)
error: failed to push some refs to 'https://github.com/jmartindiaz/Siniestros_Viales.git'
hint: Updates were rejected because the remote contains work that you do
hint: not have locally. This is usually caused by another repository pushing
hint: to the same ref. You may want to first integrate the remote changes
hint: (e.g., 'git pull ...') before pushing again.
hint: See the 'Note about fast-forwards' in 'git push --help'

RESUELTO: tuve que fusionar los repositorios remoto y local con 'git pull origin master' (que es lo mismo que hacer primer 'git fetch' y luego git 'merge'). Ahí me salió que habia un conflicto con el README que ya pude solucionar. El repositorio quedó OK.