Database Abstraction Library
https://pypi.org/project/SQLAlchemy/1.4.47/

Version de SQLAlchemy que SI ANDA:<br>

pip install SQLAlchemy==1.4.47

In [1]:
import pandas as pd
import numpy as np
df1 = pd.read_excel('XLS/Comisiones Córdoba Centro.xlsx', sheet_name='Comisiones')
df2 = pd.read_excel('XLS/Comisiones Córdoba Quiróz.xlsx', sheet_name='Comisiones')
df3 = pd.read_excel('XLS/Comisiones Córdoba Cerro de las Rosas.xlsx', sheet_name='Comisiones')

In [2]:
df = pd.concat([df1, df2, df3], ignore_index=True)
df.shape

(540, 7)

In [3]:
df.head()

,CodigoEmpleado,IdSucursal,Apellido_y_Nombre,Sucursal,Anio,Mes,Porcentaje
0,3110,25,"Peláez, Jessica",Córdoba Centro,2019,4,18
1,3110,25,"Peláez, Jessica",Córdoba Centro,2019,8,8
2,3110,25,"Peláez, Jessica",Córdoba Centro,2019,9,9
3,3110,25,"Peláez, Jessica",Córdoba Centro,2020,3,15
4,3110,25,"Peláez, Jessica",Córdoba Centro,2020,4,16

In [4]:
def depurizer(df):
    for i in range(df.select_dtypes(include = ['object']).shape[1]):
        df.select_dtypes(include = ['object']).iloc[:,i] = df.select_dtypes(include = ['object']).iloc[:,i].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
    return df

In [5]:
df = depurizer(df)

In [6]:
df.head()

,CodigoEmpleado,IdSucursal,Apellido_y_Nombre,Sucursal,Anio,Mes,Porcentaje
0,3110,25,"Pelaez, Jessica",Cordoba Centro,2019,4,18
1,3110,25,"Pelaez, Jessica",Cordoba Centro,2019,8,8
2,3110,25,"Pelaez, Jessica",Cordoba Centro,2019,9,9
3,3110,25,"Pelaez, Jessica",Cordoba Centro,2020,3,15
4,3110,25,"Pelaez, Jessica",Cordoba Centro,2020,4,16

In [7]:
# import the module
from sqlalchemy import create_engine

####### SQLALCHEMY NO USAR LA VERSION 2.0

# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="pythonuser",
                               pw="SQL444333.",
                               db="henry_checkpoint_m3"))

In [8]:
df.to_sql('comisiones', con = engine, if_exists='append', index=False)

540